style.css

body#page1{
  background-color:#000;
}
  

p {
  font-weight: bold;
}

nav {
  font-family: Georgia, serif;
}

body {
  background-color: powderblue;
  margin-left: 3rem;
}

.wrap1>img {
  margin-bottom: 1em;
  margin-left: 3rem;
}

.wrap1 {
  clear: both;
  width: 50%;
}

.wrap2 {
  text-align:center;
  
}